@import'../../bower_components/foundation/css/normalize.css';
@import'../../bower_components/foundation/css/foundation.css';
@import'../../bower_components/fakeLoader/fakeLoader.css';
@import'../../bower_components/font-awesome/css/font-awesome.css';
body {
    font-family: "Microsoft YaHei";
    background-color: #117c74;
    /*
    background-image: url(../img/20150523035346_scAYL.thumb.700_0.jpeg);
    background-size: 100% auto;
*/
}

table {
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
}

table tr th,
table tr td {
    text-align: center;
}

button,
.button {
    background-color: rgba(0, 0, 0, 0.44);
    border: none;
}

.metro {
    display: inline;
    height: 100px;
    width: 49.5%;
    /*    line-height: 70px;*/
    margin: 0.6% 0;
    border: none;
    font-size: 25px;
    font-family: "Microsoft YaHei";
}


/*
.btn-ring,
.btn-ring:hover {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background: rgba(255, 255, 255, .3);
    color: rgba(72, 67, 67, .85);
    border: solid 10px #e0e0e0;
    font-size: 50px;
}*/
