{{navbar}}
<div class="panel panel-default">
    <h1>余额：<span class="text-danger">{{detail.balance}}</span></h1>
    <h1>卡号：<span class="text-danger">{{detail.card_num}}</span></h1>
    <ul>
        {{#each detail.record}}
        <li>
            <span>{{this.CONSUMETYPE}}</span>
        </li>
        {{/each}}
    </ul>

</div>
