{{navbar}}
<div style="margin-top:100px;">
<a href="#bind" class="btn col-xs-4 index-btn col-xs-offset-2" style="margin-right:1px;">信息绑定</a>
<a href="#unbind" class="btn col-xs-4 index-btn" style="margin-left:1px;">解除绑定</a>
<a href="#score" class="btn col-xs-4 index-btn col-xs-offset-2" style="margin-right:1px;">成绩查询</a>
<a href="#" class="btn col-xs-4 index-btn" style="margin-left:1px;">体测成绩</a>
<a href="#" class="btn col-xs-4 index-btn col-xs-offset-2" style="margin-right:1px;">等级考试</a>
<a href="#" class="btn col-xs-4 index-btn" style="margin-left:1px;">一卡通</a>
</div>
