<!--{{this}}-->
{{#offcanvas this}}
<div style="margin-top:50px;" class="row index">
    <a href="#running-exercise" class="button small-5 small-offset-1 columns metro"><span>跑操查询</span></a>
    <a href="#unbind" class="button small-5  columns metro">解除绑定</a>
    <a href="#score" class="button small-5 small-offset-1 columns metro">成绩查询</a>
    <a href="#physical-test" class="button small-5 columns metro">体测成绩</a>
    <a href="#rank-test" class="button small-5 small-offset-1 columns metro">等级考试</a>
    <a href="#card" class="button small-5 columns end metro">一卡通</a>
</div>
{{/offcanvas}}
