{{navbar}}
<img class="col-xs-4 col-xs-offset-4" style="margin-top:50px;" src="/app/img/QQ%E5%9B%BE%E7%89%8720151030150023.gif" alt="正在加载">
<div class="col-xs-12 text-center">
    <h3>loading...</h3></div>
