<!--nav-->
<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <button id="refresh" class="btn btn-default pull-left" style="margin-top:10px;margin-left:10px;" href="#">刷新</button>
        <div class="navbar-brand" style="width:120px;margin-left:-60px;position: absolute;left:50%;" href="#"></div>
    </div>

    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="#">首页</a>
            </li>
            <li><a href="#running-exercise">跑操查询</a>
            </li>
            <li><a href="#unbind">解除绑定</a>
            </li>
            <li><a href="#score">成绩查询</a>
            </li>
            <li><a href="#physical-test">体质测试</a>
            </li>
            <li><a href="#rank-test">等级考试</a>
            </li>
            <li><a href="#card">一卡通</a>
            </li>
        </ul>
    </div>
</nav>
