<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon" href="#offcanvas"><span></span></a>
            </section>

            <section class="middle tab-bar-section">
                <h1 class="title">学生事务中心</h1>
            </section>
            <section class="right-small text-center">
                <a id="refresh" style="cursor:hand;"><span style="color:#fff;">刷新</span></a>
            </section>
        </nav>

        <aside class="left-off-canvas-menu" id="offcanvas">
            <ul class="off-canvas-list text-center">
                <li>
                    <label>常用服务</label>
                </li>
                <li>
                    <a href="#">首页</a>
                </li>
                <li>
                    <a href="#score">成绩查询</a>
                </li>
                <li>
                    <a href="#rank-test">等级考试</a>
                </li>
                <li>
                    <a href="#physical-test">体质测试</a>
                </li>

                <li>
                    <a href="#running-exercise">跑操查询</a>
                </li>
                <li>
                    <a href="#card">一卡通</a>
                </li>
                <li>
                    <a href="#unbind">解除绑定</a>
                </li>

            </ul>
        </aside>
        <section class="main-section">
            {{{this}}}
            <footer class="small-12 columns text-center" style="margin-top:50px;margin-bottom:50px;">
                Copyright © 2015-2016 微创客俱乐部&爱服务 All Rights Reserved. </footer>
        </section>
        <a class="exit-off-canvas"></a>
    </div>

</div>
