<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon" href="#offcanvas"><span></span></a>
            </section>

            <section class="middle tab-bar-section">
                <h1 class="title">学生事务中心</h1>
            </section>
            <section class="right-small text-center">
                <a id="refresh" style="cursor:hand;"><span style="color:#fff;" class="fa fa-refresh fa-lg"></span></a>
            </section>
        </nav>

        <aside class="left-off-canvas-menu" id="offcanvas">
            <ul class="off-canvas-list text-center">
                <li>
                    <label>常用服务</label>
                </li>
                <li>
                    <a class="fa fa-file-o" href="#">&nbsp;&nbsp;首页</a>
                </li>
                <li>
                    <a class="fa fa-file-text" href="#score">&nbsp;&nbsp;成绩查询</a>
                </li>
                <li>
                    <a class="fa fa-language" href="#rank-test">&nbsp;&nbsp;等级考试</a>
                </li>
                <li>
                    <a class="fa fa-dribbble" href="#physical-test">&nbsp;&nbsp;体质测试</a>
                </li>

                <li>
                    <a class="fa fa-odnoklassniki" href="#running-exercise">&nbsp;&nbsp;跑操查询</a>
                </li>
                <li>
                    <a class="fa fa-credit-card" href="#card">&nbsp;&nbsp;一卡通</a>
                </li>
                <li>
                    <a class="fa fa-unlock" href="#unbind">&nbsp;&nbsp;解除绑定</a>
                </li>
                <li>
                    <a class="fa fa-paper-plane-o" href="#about">&nbsp;&nbsp;关于我们</a>
                </li>

            </ul>
        </aside>
        <section class="main-section">
            {{{this}}}
            <footer class="small-12 columns text-center" style="margin-top:50px;margin-bottom:50px;">
                Copyright © 2015-2016 微创客俱乐部&爱服务 All Rights Reserved. </footer>
        </section>
        <a class="exit-off-canvas"></a>
    </div>

</div>
