{{navbar}}
<div class="panel panel-default col-xs-10 col-xs-offset-1">
    <h1>跑操总次数：<span class="text-danger">{{times}}</span></h1>
    <ul>
        {{#each detail}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>
