{{navbar}}
<div class="panel panel-default col-xs-10 col-xs-offset-1">
    <h3 class="text-center">跑操总次数：<span class="text-danger">{{times}}</span></h3>
    <table class="table table-striped">
        <caption></caption>
        <thead>
            <tr>
                <th>时间</th>
            </tr>
        </thead>
        <tbody>
            {{#each detail}}
            <tr>
                <td>{{this}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
