<!--{{this}}-->
{{#offcanvas this}}
<div>
    <table class="small-12 columns" border="1" style="background:rgba(255, 255, 255, 0.4);">
        <caption>
            <h3 class="text-center">跑操总次数：<span style="color:brown;">{{times}}</span></h3></caption>
        <thead>
            <tr>
                <th>时间</th>
            </tr>
        </thead>
        <tbody>
            {{#each detail}}
            <tr>
                <td>{{this}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/offcanvas}}
